.about-us {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 70px;

  .container{
    max-width: 800px;
    margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    .container{
      max-width: 900px;
      margin: 0 auto;
      }
  }
}

.about-us__title {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .about-us__title {
    margin-bottom: 40px;
  }
}
