.about-us {
  padding: 17px 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 5px 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 45px 0;
  }
}

.about-us__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 0 auto 40px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 35px auto;
  }
}
