.button {
  display: block;
  padding: 13px;

  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $dark-grey;

  background-color: transparent;
  border: 2px solid $dark-grey;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-grey;
  }

  &:active {
    color: $white-hover;
  }
}
