.button{
  display: block;
  padding: 15px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $dark-grey;

  background-color: transparent;
  border: 2px solid $dark-grey;

  &:hover,
  &:focus{
    color: white;
    background-color: $dark-grey;
  }

  &:active{
    color: hsla(0, 0, 100%, 0.3);
  }
}
