.catalog-list {
  list-style: none;
  margin: 30px 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.catalog-list__item {
  @include card-shadow;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 333px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 660px;
    margin-right: 50px;
    margin-bottom: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.catalog-list__picture {
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    display: block;
    width: 50%;
    overflow: hidden;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 460px;
    flex-grow: 0;
  }
}

.catalog-list__img {
  min-width: 100%;
}

.catalog-list__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-height: 198px;
    flex-grow: 1;
  }
}

.catalog-list__title {
  margin: 0 0 5px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-list__link {
  @include black-link;
}

.catalog-list__content-group {
  padding: 25px 28px 20px 28px;

  @media (min-width: $desktop-width) {
    width: auto;
    flex-shrink: 1;
    padding: 20px 25px 0 25px;
  }
}

.catalog-list__description {
  margin: 0 0 15px 0;
  font-size: 13px;
  line-height: 30px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    @include simple-text;
  }
}

.catalog-list__order-group {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 28px 0;
  margin: 0 28px;
  border-top: $light-border;
}

.catalog-list__price {
  flex-basis: 70%;
  flex-grow: 1;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-list__button {
  @include icon-condition($middle-light-grey);

  flex-basis: 30%;
  flex-grow: 1;
  text-align: right;
}
