.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;

  &--header {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1250px;
    padding: 0 100px;

    &--header {
      padding: 0 50px;
    }
  }
}
