.contacts-item {
  display: flex;

  @include simple-text;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include simple-text-tablet;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    align-self: flex-start;
  }
}

.contacts-item__label {
  min-width: 75px;
}

.contacts-item__value {
  min-width: 185px;
}

.contacts-item__link {
  @include simple-text;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;

  &:hover,
  &:focus {
    color: $primary-color;
  }

  &:active {
    color: $primary-color-opacity;
    border-color: $primary-color-opacity;
  }

  @media (min-width: $tablet-width) {
    @include simple-text-tablet;
  }
}
