.contacts {
  margin-top: 35px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: 460px;
      width: 1050px;
      margin: 70px auto 55px auto;
    }

  }
}

.contacts__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 525px;
    height: 370px;
  }
}

.contacts__title {
  position: relative;

  margin: 0;
  padding: 25px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -10px;

      width: 52px;
      height: 82px;
      background: url("../img/icon-flag.svg") no-repeat 0 0;
    }

  }

  @media (min-width: $desktop-width) {
    width: 350px;
    padding: 0;
    margin: 60px 0 40px 0;


    &::before {
      left: -120px;
    }
  }
}

.contacts__map {
  position: relative;
  text-align: center;
  background-color: $light-grey;

  margin: 0 -30px 40px -30px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 67px;
    height: 100px;
    margin: auto;

    background: url("../img/icon-map-pin.svg") no-repeat 50% 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 -50px 55px -50px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    margin: 0;
    order: 3;
  }
}

.contacts__img {
  width: 320px;
  max-height: 460px;
}

.contacts__button {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: 175px;
    width: 230px;
  }
}
