.contacts {
  margin-top: 35px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 455px;
    width: 1050px;
    margin: 70px auto 55px auto;

    .container {
      max-width: 525px;
      padding: 0;
      order: 0;
    }
  }
}

.contacts__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    flex-direction: column;
    max-width: 350px;
  }
}

.contacts__title {
  margin: 0;
  padding: 25px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    font-size: 43px;
    line-height: 50px;
    background: url("../img/icon-flag.svg") no-repeat 100% 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -175px;
    margin-top: 60px;
    padding-left: 175px;
    background-position: 60px 0;
  }
}

.contacts__title {
  @media (min-width: $desktop-width) {
    max-width: 525px;
  }
}

.contacts__map {
  position: relative;
  text-align: center;
  background-color: $light-grey;

  width: 100%;
  margin-bottom: 40px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 67px;
    height: 100px;
    margin: auto;

    background: url("../img/icon-map-pin.svg") no-repeat 50% 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    max-width: 525px;
    margin-right: 100px;
    order: 3;
  }
}

.contacts__img {
  width: 320px;
  max-height: 460px;
}

.contacts__button {
  max-width: 230px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}
