.features-list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.features-list__item {
  position: relative;

  padding: 65px 0 18px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;

    width: 60px;
    height: 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--ecologic {
    order: 1;

    &::before {
      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--style {
    order: 2;

    &::before {
      background-image: url("../img/icon-feature-money.svg");
    }
  }


  &--like {
    order: 3;

    &::before {
      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--handmade {
    order: 4;

    &::before {
      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--local {
    order: 5;

    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--present {
    order: 6;

    &::before {
      background-image: url("../img/icon-feature-gift.svg");
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 65px 30px 15px 0;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 22px;
    order: 0;
  }
}
