.features-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 465px;

  }

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.features-list__item {
  position: relative;

  padding: 60px 0 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;

    width: 60px;
    height: 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--ecologic::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--style::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--local::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    background-image: url("../img/icon-feature-gift.svg");
  }

  @media (min-width: $tablet-width) {
    width: 335px;
    padding-right: 40px;
    margin-bottom: 30px;


    font-size: 20px;
    line-height: 22px;
  }
}
