.headline {
  max-width: 650px;
  margin: 0 auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
