.headline {
  padding: 70px 30px;
  margin: 0;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .headline {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .headline {
    font-size: 53px;
    line-height: 57px;
  }
}
