.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  display: none;

  &--open {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
  cursor: pointer;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }
}
