.main-nav {
  position: relative;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}

.main-nav__logo {
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  img {
    display: block;
    width: 86px;
    height: auto;
  }

  &[href$=".html"]:hover,
  &[href$=".html"]:focus {
    opacity: 0.6;
  }

  &[href$=".html"]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    justify-content: flex-start;
    margin-right: auto;
    max-width: 150px;

    img {
      width: 114px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0;
    order: 1;
    margin-left: auto;

    img {
      width: 150px;
    }
  }
}

.main-nav__logo-image {
  height: 100%;
  width: auto;
}

.main-nav__list {
  display: none;

  &--open {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
  cursor: pointer;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
