.modal-add {
  display: none;
  z-index: 20;

  min-height: 335px;
  margin: auto;
  padding: 30px 30px 45px 30px;

  background-color: white;
  border: $light-border;
  box-shadow: 0 5px 10px 0 hsla(0, 0, 0, 0.25);

  &--show {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 110px 45px 110px;
  }
}

.modal-add__titile {
  margin: 0;
  margin-bottom: 20px;

  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
  }
}
