.order-form {
  margin-bottom: 50px;
}

.order-form__fieldset {
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    padding: 50px 0;
    margin: 0;

    &:nth-of-type(2n) {
      background-color: $light-grey;
    }

    &--radio {
      height: 215px;
    }

    .container {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      max-height: 310px;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__column-group {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;

    .order-form__group {
      flex-basis: 100%;
    }
  }

  .order-form__row-group {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 205px;

    .order-form__group {
      flex-basis: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__row-group {
    .order-form__group {
      max-width: 265px;
    }
  }
}

.order-form__group {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    flex-basis: 25%;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
  }
}

.order-form__legend {
  display: flex;
  align-items: center;

  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  color: $primary-color;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 25px;

    width: 30px;
    height: 1px;
    background-color: $primary-color;
  }
}

@media (min-width: $tablet-width) {
  .order-form__legend {
    height: 100%;
    width: 175px;
    flex-shrink: 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__legend {
    display: inline-block;
    text-align: center;
  }
}

.order-form__radio,
.order-form__checkbox {
  &:checked + .order-form__label::after {
    content: "";
    position: absolute;
  }
}

.order-form__radio {
  &:checked + .order-form__label--radio::after {
    top: 10px;
    left: 10px;

    width: 20px;
    height: 20px;
    background-color: $primary-color;
    border-radius: 50%;
  }
}

.order-form__checkbox {
  &:checked + .order-form__label--checkbox::after {
    top: 3px;
    left: 13px;
    width: 15px;
    height: 28px;
    transform: rotate(45deg);

    border-bottom: 2px solid $dark-grey;
    border-right: 2px solid $dark-grey;
  }
}

.order-form__label {
  position: relative;

  display: block;
  margin-bottom: 20px;
  margin-right: 25px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;


  &--radio,
  &--checkbox {
    padding-top: 10px;
    padding-left: 60px;
    min-height: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid $dark-grey;
    }
  }

  &--radio::before {
    border-radius: 50%;
  }

  &:hover::before,
  .order-form__radio:focus + &::before,
  .order-form__checkbox:focus + &::before {
    border-color: $primary-color;
  }

  &:active::before {
    border-color: $light-grey;
  }
}

.order-form__input {
  width: 100%;
  padding-bottom: 20px;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;

  &:focus,
  &:hover {
    border-color: $primary-color;
  }

  &--textarea {
    padding: 15px;
    border: 2px solid $dark-grey;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &:placeholder {
    color: $dark-grey;
  }
}


@media (min-width: $tablet-width) {
  .order-form__submit-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.order-form__caption {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $dark-grey;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .order-form__caption {
    order: 1;
    margin-bottom: 0;
  }
}

.order-form__submit {
  width: 100%;
  max-width: 230px;
}

@media (min-width: $tablet-width) {
  .order-form__submit {
    order: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__submit {
    margin-left: 175px;
  }
}
