.page-header__logo {
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin-left: 48px;
    max-width: 155px;
    justify-content: flex-start;
    order: 1;
    border:none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    justify-content: space-around;
    margin: 0 auto;
  }
}
