.page-footer {
  background-color: $light-grey;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    & .container {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }
}

.page-footer__social {
  padding: 50px 0 50px 0;
}
