@media (min-width: $tablet-width) {
  .page-main {
    position: relative;
  }
}

.page-main__title {
  height: 285px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    height: 625px;
    padding-left: 135px;
    padding-right: 135px;
    background-size: auto 768px;
    padding-top: 115px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    padding-left: 315px;
    padding-right: 315px;
    padding-top: 150px;
  }
}
