.page-footer {
  background-color: $light-grey;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;

    .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    padding-top: 15px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: auto;

    &[href$=".html"] {
      @include icon-condition($very-dark-grey);
    }
  }
}
