.products-list {
  display: flex;
  flex-direction: column;

  @include list-reset;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.products-list__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.products-list__link {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 15px 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transform: translateY(0);
  transition: 0.5s;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 40px 30px 35px;
  }

  cursor: pointer;
  background-color: $primary-color;

  svg {
    fill: $primary-very-dark-color;
  }


  &:hover,
  &:focus {
    background-color: $primary-color-hover;

    @media (min-width: $tablet-width) {
      transform: translateY(-5px);
    }

    & svg {
      opacity: 0.7;
    }
  }

  &:active {
    color: $white-hover;

    & svg {
      opacity: 0.3;
    }
  }

  &--dark {
    background-color: $primary-dark-color;

    & svg {
      margin-right: -10px;
      margin-top: 2px;
      //2 и 10 px разница по высоте и ширине у svg.
    }

    &:hover,
    &:focus {
      background-color: $primary-dark-color-hover;
    }

    &:active {
      background-color: $primary-dark-color-active;
    }
  }
}

.products-list__content {
  margin: 0;
  padding: 0;
  width: 130px;
}
