.reviews {
  position: relative;
  padding-bottom: 20px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;

    z-index: 20;
    background: url("../img/bg-zigzag-line.svg") repeat-x 8px 0;
    background-size: auto 40%;

    @media (min-width: $tablet-width) {
      background-size: 100%;
      background-position: 22px 0;
      height: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      padding-top: 75px;

      background: url("../img/review@1x.jpg") no-repeat 0 0;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;

    .container {
      padding: 70px 0 50px 175px;
    }
  }
}

.reviews__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    order: 0;
    max-width: 200px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.reviews__item {
  margin: 0 0 30px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.reviews__content {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 10px 0;
  }
}

.reviews__author {
  align-self: flex-start;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.reviews__name {
  margin: 0 0 5px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__nickname {
  margin: 0;
  padding: 0;

  @include simple-text;

  @media (min-width: $tablet-width) {
    @include simple-text-tablet;
  }
}

.reviews__toggles {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    order: 4;
    height: 60px;
    width: 175px;
  }
}

.reviews__toggle {
  height: 50px;
  flex-basis: 50%;
  flex-grow: 1;

  background-color: transparent;
  border-radius: none;
  border: 1px solid $light-grey;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  svg {
    fill: $black;
  }

  &:hover,
  &:focus {
    svg {
      fill: $middle-dark-grey;
    }
  }

  &:active {
    svg {
      fill: $middle-light-grey;
    }
  }

  @media (min-width: $tablet-width) {
    height: 60px;
    border: none;
  }
}

.reviews__button {
  margin-bottom: 40px;
  min-width: 175px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}
