.reviews {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      padding-top: 80px;
      padding-bottom: 40px;

      background: url("../img/review@1x.jpg") no-repeat 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    .container{
      padding-left: 275px;
      padding-right: 100px;
    }

  }
}

.reviews__title {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    order: 0;
    max-width: 200px;
    margin-bottom: 40px;
  }
}

.reviews__item {
  margin: 0 0 30px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    order: 2;
  }
}

.reviews__content {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  color: $dark-grey;
}

@media (min-width: $tablet-width) {
  .reviews__content {
    margin: 0 0 55px 0;
    font-size: 17px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__author {
    order: 3;
  }
}

.reviews__name {
  margin: 0 0 5px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews__name {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__nickname {
  margin: 0;
  padding: 0;

  @include simple-text;
}

@media (min-width: $tablet-width) {
  .reviews__nickname {
    @include simple-text-tablet;
  }
}

.reviews__toggles {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reviews__toggles {
    order: 4;
    height: 60px;
    width: 175px;
  }
}

.reviews__toggle {
  height: 50px;
  flex-basis: 50%;
  flex-grow: 1;

  background-color: transparent;
  border-radius: none;
  border: 1px solid $light-grey;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media (min-width: $tablet-width) {
  .reviews__toggle {
    border: none;
  }
}

.reviews__button {
  margin-bottom: 40px;
  min-width: 175px;
}

@media (min-width: $tablet-width) {
  .reviews__button {
    order: 1;
  }
}
