.social-list {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  list-style: none;
}

.social-list__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  @include icon-condition($black);
}
