.user-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 350px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    max-width: 360px;
    order: 2;
  }
}

.user-list__item {
  border-top: $light-border;

  @media (min-width: $tablet-width) {
    border-left: $light-border;
    border-top: none;
    padding: 0;
  }
}

.user-list__link {
  @include black-link;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 28px 25px 28px 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @include icon-condition($middle-light-grey);

  &--search svg {
    width: 18px;
    height: 18px;
    margin-right: 18px;
  }

  &--cart svg {
    width: 22px;
    height: 18px;
    margin-right: 25px;
    margin-top: 4px;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 0 30px 32px;

    &--search {
      width: 83px;
      height: 88px;
      font-size: 0;
    }

    &--cart svg {
      margin-right: 30px;
    }
  }
}
