.video {
  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.video__card {
  @include card-shadow;
  border: $light-border;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 742px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 455px;
    margin-bottom: 40px;
  }
}

.video__heading-group {
  display: flex;
  align-items: center;
  padding: 22px 30px 25px 30px;

  svg {
    fill: $primary-color;
    width: 32px;
    height: 32px;
    margin-right: 35px;
  }

  @media (min-width: $tablet-width) {
    padding: 35px 40px 15px 40px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    max-width: 330px;
    padding: 22px 50px 35px 42px;
    margin-left: 717px;
    margin-bottom: -177px;

    svg {
      margin: 20px 0;
    }
  }
}

.video__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.video__player {
  position: relative;
  background-color: $light-grey;
  margin-bottom: 30px;

  &::before {
    content: "";
    height: 77px;
    width: 101px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    background: url("../img/icon-play.svg") no-repeat 0 0;
    background-size: cover;
    transition: 0.4s;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1.2, 1.2);
  }

  &:active::before {
    transform: scale(0.8, 0.8);
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    height: 455px;
    overflow: hidden;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 682px;
    margin-right: 35px;
  }
}

.video__img {
  min-width: 100%;
}

.video__text {
  margin: 0 35px 35px 35px;

  @media (min-width: $tablet-width) {
    margin: 0 40px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 250px;
    margin: 177px auto 0 auto;
  }
}

.video__description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

.video__button {
  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
