.week-product {
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.week-product_header {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    z-index: 10;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: -100px;
    margin-top: 40px;
  }
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-color;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 120px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    padding: 10px 30px 0 30px;
  }
}

.week-product__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    max-height: 640px;
  }

  @media (min-width: $desktop-width) {
    width: 875px;
    margin-left: 175px;
  }
}

.week-product__description {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 44%;
    margin-right: 43px;
    margin-bottom: 50px;

    @include simple-text-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin: 165px 60px 65px 0;
  }
}

.week-product__table {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: $dark-grey;

  & tr {
    border-bottom: 1px solid $light-grey;
  }

  & td {
    padding: 5px 30px 5px 0;
  }

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-right: 43px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-right: 60px;
    margin-bottom: 110px;
  }
}

.week-product__photo {
  width: 100%;
  height: auto;
  max-height: 640px;

  @media (min-width: $tablet-width) {
    width: 334px;
    flex-grow: 0;
    order: 10;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    margin-top: 0;
  }
}

.week-product__price {
  margin: 20px 0;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin: 0 43px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-right: 60px;
    margin-bottom: 35px;
  }
}

.week-product__button {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-left: 0;
    align-self: stretch;
  }
}
