.week-product {
  padding: 30px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 50px 0 70px 0;
    margin-bottom: 50px;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 16px;

      z-index: 20;
      background: url("../img/bg-zigzag-line.svg") repeat-x 0 0;
      background-size: auto 16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 95px 0;

    &::after {
      height: 23px;
      background-size: auto 23px;
    }
  }
}

.week-product_header {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    z-index: 10;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 40px;
  }
}

.week-product__title {
  margin-bottom: 5px;
  margin-left: -3px;
  flex-grow: 1;
}

.week-product__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-color;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 130px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px 25px 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: 173px;
  }
}

.week-product__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 410px;
  }

  @media (min-width: $desktop-width) {
    width: 875px;
    height: 635px;
    margin-left: 175px;
    margin-top: -130px;
  }
}

.week-product__description {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 44%;
    flex-grow: 1;
    margin-right: 43px;
    margin-bottom: 40px;

    @include simple-text-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin: 165px 60px 65px 0;
  }
}

.week-product__table {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: $dark-grey;

  & tr {
    border-bottom: 1px solid $light-grey;
  }

  & td {
    padding: 5px 30px 5px 0;
  }

  @media (min-width: $tablet-width) {
    width: 44%;
    flex-grow: 1;
    margin-right: 43px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-right: 60px;
    margin-bottom: 110px;
  }
}

.week-product__photo {
  img {
    width: 100%;
    height: auto;
  }

  max-height: 640px;

  @media (min-width: $tablet-width) {
    width: 334px;
    flex-grow: 0;
    order: 10;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    margin-top: 0;
  }
}

.week-product__price {
  margin: 20px 0;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 44%;
    flex-grow: 1;
    margin: 0 43px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-right: 60px;
    margin-bottom: 20px;
  }
}

.week-product__button {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 44%;
    flex-grow: 0;
    margin-left: 0;
    align-self: stretch;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}
