.week-product {
  padding: 30px 0;
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__subtitle {
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-color;
}

.week-product__description {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;
}

.week-product__table {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: $dark-grey;

  & tr {
    border-bottom: 1px solid $light-grey;
  }

  & td {
    padding: 5px 30px 5px 0;
  }
}

.week-product__photo{
  width: 100%;
  height: auto;
}

.week-product__price {
  margin: 20px 0;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-grey;
}
